<div class="container">
  <div class="control-panel">
    <button mat-icon-button (click)="sendPostRequest(url1)" style="margin: 20px 0;">
      <mat-icon class="icon-display">arrow_upward</mat-icon>
    </button>
    <button class="control-button" (click)="sendPostRequest(url1)" style="margin: 20px 0;">Detener</button>
    <button mat-icon-button (click)="sendPostRequest(url1)" style="margin: 20px 0;">
      <mat-icon class="icon-display">arrow_downward</mat-icon>
    </button>
  </div>
  <div class="stream-view">
    <!-- Your stream content here -->
  </div>
  <div class="settings-panel">
    <mat-slide-toggle (change)="onToggleChange($event)">Vision Nocturna</mat-slide-toggle>
    <div class="zone">
      <ngx-joystick #staticJoystic
                      [options]="staticOptions"
                      (start)="onStartStatic($event)"
                      (end)="onEndStatic($event)"
                      (move)="onMoveStatic($event)"
                      (plainUp)="onPlainUpStatic($event)"
                      (plainDown)="onPlainDownStatic($event)"
                      (plainLeft)="onPlainLeftStatic($event)"
                      (plainRight)="onPlainRightStatic($event)"></ngx-joystick>
    </div>
    <div *ngIf="staticOutputData" class="zone-absolute">
      <div style="float: right;">
        <div>angle-deg: {{ staticOutputData.angle.degree | number:'3.5-5'}}</div>
      </div>
    </div>
  </div>
</div>
