body {
  margin: 0;
  padding: 0;
  background: url(https://static.vecteezy.com/system/resources/previews/005/271/695/non_2x/casual-dots-and-hearts-wallpaper-design-element-pattern-hand-drawn-texture-with-heart-valentines-day-seamless-vector.jpg) center/cover fixed no-repeat; /* Set your background image here */
  font-family: Arial, sans-serif; /* Set your preferred font family */
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: stretch;
}

.control-panel,
.settings-panel {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.control-button {
  padding: 15px 30px;
  margin: 10px;
  background-color: #000; /* Set background color to black */
  color: #fff; /* Set text color to white */
  border-radius: 100%; /* Make the button a circle */
  width: 80px; /* Set a fixed width for the circle (adjust as needed) */
  height: 80px; /* Set a fixed height for the circle (adjust as needed) */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center; /* Center the text horizontally */
  text-transform: uppercase; /* Optional: Convert text to uppercase */
}

.icon-display {
  transform: scale(3);
}

.stream-view {
  flex: 5; /* Adjust the flex value as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
}

.horizontal-scroller {
  width: 80%;
}

/* For the joystick */
.zone {
  position: relative;
  width: 25vw;
  height: 200px;
  left: 0;
}

.zone-absolute {
  position: absolute;
  width: 25vw;
  height: 130px;
}

.settings-panel {
  position: relative; /* Add relative positioning for absolute positioning */
}

.mat-slide-toggle {
  position: absolute;
  top: 10px;
  right: 10px; /* Move toggle to the top right corner */
}
  